@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> A web-application to provide ease of accessibility to manage and maintain diagnostic reports developed by the team of Techzombo.</p>

<p>
    Powered by <a href="https://www.techzombo.com">Techzombo</a>
</p>
