@{
    ViewBag.Title = "Home Page";
}

<header class="masthead">
    <div class="overlay">
        <div class="container">
            <h1 class="display-1 text-white">Report Manager</h1>
            <h2 class="display-4 text-white">The only manager you will ever need </h2>
        </div>
    </div>
</header>